---
layout: default
title: Aktuality a články
ref: Articles
lang: cs
---
<gov-container>
    <h1>{{ page.title }}</h1>
    <gov-grid gap="l" class="gov-card-grid">
        {% assign clanky = site.clanky | where: "lang", page.lang | reverse %}
        {% for clanek in clanky %}
        <gov-grid-item col-span="12" col-span-sm="6" col-span-lg="4" role="listitem">
          <gov-tile href="..{{ clanek.url }}">
            <h2 slot="title">
                {{ clanek.title | truncate: 62 }}
            </h2>
            
            {% if clanek.image %}
            <p>
                <img src="{{ clanek.image }}" alt="{{ clanek.title }}" />
            </p>
            {% endif %}

            <gov-chip variant="secondary" size="xs" tag="span" inverse="true">
                <gov-icon type="complex" name="time" slot="left-icon"></gov-icon>
                {{ clanek.date | date: "%-d. %-m. %Y" }}
            </gov-chip>

            <p>
                {{ clanek.excerpt | strip_html | strip_newlines | truncate: 260 }}
            </p>
          </gov-tile>
        </gov-grid-item>
        {% endfor %}
    </gov-grid>
</gov-container>