---
layout: default
title: Aktuality a články
ref: Articles
lang: cs
---
<gov-container>
    <h1 class="h4">{{ page.title }}</h1>
    <gov-tiles columns="3" no-border>
        {% assign clanky = site.clanky | where: "lang", page.lang | reverse %}
        {% for clanek in clanky %}
        <gov-tile href="..{{ clanek.url }}">
            <h2 slot="title" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; line-height: 1.3; height: 2.6em;">
                {{ clanek.title | truncate: 62 }}
            </h2>
            
            {% if clanek.image %}
            <p style="margin-top: 0; margin-bottom: 5px;">
                <img src="{{ clanek.image }}" alt="{{ clanek.title }}" style="width: 100%; aspect-ratio: 16 / 9; object-fit: cover; display: block;" />
            </p>
            {% endif %}

            <gov-chip variant="secondary" size="xs" tag="span" inverse="true">
                <gov-icon type="complex" name="time" slot="left-icon"></gov-icon>
                {{ clanek.date | date: "%-d. %-m. %Y" }}
            </gov-chip>

            <p style="margin-top: 10px; margin-bottom: 0;">
                {{ clanek.excerpt | strip_html | strip_newlines | truncate: 260 }}
            </p>
        </gov-tile>
        {% endfor %}
    </gov-tiles>
</gov-container>