---
layout: post
detail: true
title: "Lidé mezi televizí a TikTokem"
ref: Lidé-mezi-televizí-a-TikTokem
image: ../přílohy/články/Lidé-mezi-televizí-a-TikTokem/some_thumb.webp
author: jiří_kaňa
date: 2026-07-15 06:01:00 +02:00
lang: cs
---
<p>Kontrola mobilního telefonu se stala pro miliony obyvatel Evropské unie první ranní aktivitou. Sociální sítě už dávno nejsou jen nástrojem pro kontakt s přáteli – proměnily se v hlavní prostor pro formování veřejného mínění, šíření informací a strategickou komunikaci.</p>
<!--more-->
<p>Evropský digitální trh však nelze vnímat jako jeden celek. Pod povrchem plošného růstu se skrývají hluboké geografické a generační rozdíly, které zásadně ovlivňují, jak lidé a firmy k informacím přistupují.</p>
<br>

<h2 class="h5">Digitální konvergence: Když firmy stíhají lidi</h2>
<p>Mezi lety 2015 a 2025 prošlo využívání digitálních sítí v Evropské unii zásadní proměnou. Zatímco v roce 2015 používala sociální sítě necelá polovina obyvatel (<b>48 %</b>) a pouhá třetina podniků (<b>37 %</b>), kolem roku 2020 se tato historická propast v podstatě uzavřela.</p>
<p>Nejnovější data potvrzují, že adopce platforem dosáhla srovnatelné úrovně. Sítě dnes aktivně využívá <b>67 % jednotlivců a 64 % firem</b>. Pro komerční sféru tak sociální sítě přestaly být pouhým marketingovým doplňkem. Staly se kritickou komunikační infrastrukturou, bez které se moderní podnikání neobejde.</p>
<br>

<h2 class="h5">Geografické extrémy a síla národní kultury</h2>
<p>Celoevropské průměry však často zkreslují realitu, protože unijní trh vykazuje výrazné regionální výkyvy. Na vrcholu digitálního žebříčku stojí Dánsko, kde sociální sítě využívá <b>90 % jednotlivců</b>, zatímco na opačném konci se nachází Itálie s pouhými <b>56 %</b>. V podnikatelském sektoru jsou rozdíly ještě propastnější – firemní zapojení sahá od suverénních <b>88 %</b> na Maltě až po skromných <b>42 %</b> v Bulharsku. Česká republika se v tomto srovnání drží stabilního středu, když sociální sítě aktivně využívá <b>70 % jednotlivců a 56 % podniků</b>.</p>
<p>V datech je jasně patrný jeden klíčový vzorec: státy s vysokou digitální aktivitou občanů vykazují i vyšší míru digitalizace u firem. Celková digitální kultura dané společnosti zkrátka táhne kupředu oba sektory. Zajímavou výjimkou je ovšem Rumunsko, kde sítě sice využívá solidních <b>80 % občanů, ale pouze 48 % tamních podniků</b>, což ukazuje na výrazné rezervy v digitalizaci lokálního byznysu.</p>
{% include image.html url="../přílohy/články/Lidé-mezi-televizí-a-TikTokem/some_1.webp" description="Zdroj: data.europa.eu" %}
<br>

<h2 class="h5">Čtyři mediální tváře Evropy</h2>
<p>Při sledování politických a společenských zpráv hrají sítě důležitou, nikoli však jedinou roli. Tradiční média si v EU stále drží silnou pozici. Televize zůstává se <b>71 %</b> nejvyužívanějším zdrojem informací, doprovázená rádiem (<b>43 %</b>) a tiskem (<b>41 %</b>). Sociální sítě a internetové vyhledávače slouží jako zdroj zpráv shodně pro <b>40 %</b> občanů. Podle toho, jak lidé tyto zdroje kombinují, se Evropa dělí na čtyři jasně definované profily.</p>
<p>První skupinu tvoří <b>tradiční konzervativci</b>, mezi které patří Francie, Itálie, Španělsko, Belgie či Nizozemsko. V těchto zemích si dominantní postavení uchovává televizní vysílání a tištěný tisk, zatímco digitální novinky nastupují pomaleji.</p>
<p>Druhou skupinou jsou <b>mediální všežravci</b>, typičtí pro Německo, Rakousko, Švédsko nebo Dánsko. Tito uživatelé vykazují vysokou spotřebu tradičních médií, kterou ale přirozeně kombinují s nadprůměrným využíváním online kanálů.</p>
<p>Třetí profil představují <b>digitální skokani</b>, kam se řadí Česko, Polsko, Irsko, Slovinsko či Bulharsko. V těchto státech zažívají internetové zdroje a vyhledávače masivní růst, který je doprovázen strmým pádem zájmu o tištěné noviny.</p>
<p>Čtvrtou, velmi specifickou skupinou jsou <b>digitálně závislí</b>. V zemích jako Řecko, Maďarsko, Malta či Slovensko se sociální sítě staly absolutně dominantním a primárním zdrojem pro sledování společenského dění.</p>
<br>
{% include image.html url="../přílohy/články/Lidé-mezi-televizí-a-TikTokem/some_2.webp" description="Zdroj: data.europa.eu" %}

<h2 class="h5">Generační propast a iluze online aktivity</h2>
<p>Věk uživatelů je druhým zásadním faktorem, který určuje chování na internetu. Generace 15–24 let se téměř kompletně přesunula do online prostoru, ze <b>dvou třetin</b> čerpá zprávy výhradně ze sítí a formuje své návyky na Instagramu či TikToku. U populace nad 55 let naopak sledovanost televizního zpravodajství stále přesahuje <b>80 %</b> a jejich hlavním digitálním útočištěm zůstává Facebook.</p>
<p>Analýza dat však vyvrací mýtus o tom, že sociální sítě jsou místem neustálé obousměrné diskuse. Napříč všemi generacemi drtivě vítězí pasivní konzumace – lidé obsah pouze čtou nebo si prohlíží videa. Ochota komentovat, sdílet nebo tvořit vlastní příspěvky je v celé EU velmi nízká. Tato apatie se navíc dramaticky prohlubuje s věkem. Ve skupině uživatelů nad 55 let se do jakýchkoli interakcí vůbec nezapojuje celých <b>41 %</b> lidí.</p>
<br>
{% include image.html url="../přílohy/články/Lidé-mezi-televizí-a-TikTokem/some_3.webp" description="Zdroj: data.europa.eu" %}

<h2 class="h5">Strategický výhled: Konec plošné komunikace</h2>
<p>Desetiletý vývoj sice sblížil technologické možnosti občanů a firem, ale reálné způsoby fungování v digitálním světě zůstávají fragmentované. Evropa se nachází v situaci, kdy vedle sebe existují vysoce progresivní digitální komunity a regiony věrné tradičním formátům.</p>
<p>Pro jakoukoli budoucí publicistiku, státní komunikaci nebo komerční marketing z toho plyne jasné ponaučení: plošný přístup už nefunguje. Úspěšná strategie musí důsledně respektovat geografická specifika a demografické zvyklosti konkrétních cílových skupin, protože evropské publikum mluví mnoha různými digitálními jazyky.</p>

<hr>
<br>
<p>Data a informace převzaty z článku <a href="https://data.europa.eu/en/publications/datastories/social-media-use-eu-countries-generations" target="_blank">Social media use in the EU: From countries to generations</a></p>
<br>

<p>Pro Českou republiku jsou k dispozici podrobnější informace v Národním katalogu otevřených dat v příslušných datových sadách:</p>
<ul>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00164801%2F0ee8cde8f20b4dc1a5b3e5c01e9b0b8f" target="_blank">ČR 2030 8.3.2 Podniky prodávající přes webové stránky, mobilní aplikace nebo online tržiště, podle velikosti podniku</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00164801%2Ff01eccca6dc219ce872d80b836bf48d6" target="_blank">ČR 2030 8.3.2 Podniky prodávající přes webové stránky, mobilní aplikace nebo online tržiště, podle odvětví (CZ–NACE sekce)</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F66e606f8037184f68baa77b6792949b3" target="_blank">Frekvence používání internetu</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F23c58e677d178b2b35d9338e6955174c" target="_blank">Internetová bezpečnost</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2Faea1a44cc214bde4d2caa8e0b031a4fc" target="_blank">Komunikace přes internet</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2Fca23d52a88a117fc476e7b06997803f8" target="_blank">Podniky a digitální technologie</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F7d4865f889a438af8cb0e946fe1fc115" target="_blank">Podniky používající vybrané digitální technologie</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F6a66023e172971d9e4dba05a90690d7b" target="_blank">Podniky s účtem na sociálních médiích</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F4553a05acc4bf08e0758d419b1774ce3" target="_blank">Používání ICT osobami – základní ukazatele</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F4090f702057a4420e469bf489bba94d6" target="_blank">Používání ICT pro zábavu</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2Ffd3bed3a393aeffac3468a48110c4559" target="_blank">Používání ICT v domácnostech</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F66a01ddae70ccd0809134744c60ce3f8" target="_blank">Používání internetu na mobilním telefonu</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2Fd349f835e110df0a2fcdfb0d9503d7b1" target="_blank">Vybavenost domácností informačními a komunikačními technologiemi</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2Cc92ab19fb4824b86036e16500e65873a" target="_blank">Vzdělávání, získávání informací a vyjadřování názorů</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F1b1ee0c6323fbb389c110f060b1cd28c" target="_blank">Ženy a muži – činnosti vykonávané na internetu</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F89bb8d94034e731444337dc945748f5c" target="_blank">Ženy a muži – používání chytrých zařízení</a></li>
    <li><a href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2F00025593%2F4c3aae844f2837402aa6c5c2846648d6" target="_blank">Ženy a muži – používání internetu</a></li>
</ul>