---
layout: post
detail: true
title: "Neviditelné tepny Evropy"
ref: Neviditelné-tepny-Evropy
image: ../přílohy/články/Neviditelné-tepny-Evropy/Neviditelné-tepny-Evropy_thumb.webp
author: jiří_kaňa
date: 2026-10-09 06:01:00 +02:00
lang: cs
---
<p><b>Každý den bereme do ruky chytrý telefon, oblékáme si věci z druhého konce světa a jíme čerstvé potraviny. Málokdy ale přemýšlíme nad tím, jakou cestu za námi toto zboží muselo urazit. Aktuální data Eurostatu poodhalují fungování složitých dodavatelských řetězců – od dominantních dopravních prostředků přes klíčové logistické uzly až po strukturu evropského obchodu.</b></p>
<!--more-->

<h2>Námořní obři a kamiony v hlavní roli</h2>

<p>Evropské nákladní přepravě jasně vévodí námořní doprava, která zajišťuje plných <b>67 %</b> celkového výkonu. S výrazným odstupem ji následují kamiony s podílem <b>26 %</b>. Železnice, vnitrozemské vodní cesty a letectví hrají z pohledu celkového objemu spíše doplňkovou roli.</p>

<p>Tento celoevropský průměr se však výrazně mění podle geografie. Pobřežní a ostrovní státy jako Řecko či Kypr logicky spoléhají na moře, zatímco vnitrozemí křižují především silniční dopravci. Výjimku tvoří například Rakousko a Litva, kde má nadstandardně silnou pozici železnice. Pokud se podíváme na vývoj v posledních deseti letech, rýsuje se jasný trend: silniční přeprava pozvolna, ale vytrvale roste na úkor té námořní.</p>

{% include image.html url="../přílohy/články/Neviditelné-tepny-Evropy/supply-chains1.webp" description="Zdroj: data.europa.eu" %}


<h2>Strategické uzly vs. hustá pavučina</h2>

<p>Geografické rozložení logistiky se dramaticky liší podle zvoleného typu dopravy. Letecká a námořní přeprava se extrémně koncentrují do několika málo strategických uzlů. Letectví dominuje silná trojka v podobě letišť kolem Frankfurtu, Paříže a Amsterdamu. Hlavní námořní brány do Evropy pak představují přístavy v nizozemském regionu Zuid-Holland a v belgických Antverpách.</p>

<p>Naproti tomu silniční doprava žádná takto vyhraněná centra nemá. Funguje jako hustá a rovnoměrná pavučina, která bez rozdílu pokrývá celé vnitrozemí i pobřeží kontinentu a zajišťuje finální distribuci zboží až ke konečným zákazníkům.</p>

{% include image.html url="../přílohy/články/Neviditelné-tepny-Evropy/supply-chains2.webp" description="Zdroj: data.europa.eu" %}

<h2>Evropa jako dovozce „hmoty“</h2>

<p>Zajímavý pohled nabízí také mezinárodní obchod. Měřeno čistě fyzickou hmotností je Evropa jasným dovozcem – váha importovaného zboží v tunách drtivě převyšuje objem vývozu.</p>

<p>Struktura těchto komodit je navíc silně koncentrovaná. Těžké suroviny, fosilní paliva, chemikálie a odpady tvoří <b>60 %</b> celkové hmotnosti obchodu se třetími zeměmi. Přidáme-li k tomu zemědělské a stavební produkty, dostaneme se na úctyhodných <b>90 %</b> veškeré přepravované váhy. Evropský vývoz hmotnostně převažuje nad dovozem pouze u jediné skupiny, a tou je zboží s vysokou přidanou hodnotou (IT, elektronika, počítače, farmacie a zdravotnický materiál).</p>

{% include image.html url="../přílohy/články/Neviditelné-tepny-Evropy/supply-chains3.webp" description="Zdroj: data.europa.eu" %}

<h2>Výzva pro budoucnost</h2>

<p>Pohyb zboží v Evropské unii nemá jeden univerzální vzorec. Striktně se přizpůsobuje geografii, dostupné infrastruktuře a povaze konkrétních komodit.</p>

<p>Vzhledem k silné závislosti kontinentu na importu těžkých surovin a setrvale rostoucímu podílu kamionové dopravy čeká Evropu nelehký úkol. Bude muset udržet tyto klíčové dodavatelské řetězce v plném chodu a zároveň je úspěšně transformovat tak, aby v budoucnu odpovídaly moderním technologickým a ekologickým cílům.</p>

<hr>
<br>

<p>Data a informace převzaty z článku <a href="https://data.europa.eu/en/publications/datastories/moving-goods-across-europe-insights-eus-supply-chains" target="_blank"> Moving goods across Europe: Insights into the EU’s supply chains</a></p>
