---
layout: default
ref: Home
lang: cs
homepage: true
---


<gov-statsbar variant="primary">
    <gov-statsbar-item><span id="datasetCountLabel">&nbsp;</span><span slot="text">datových sad</span></gov-statsbar-item>
    <gov-statsbar-item><span id="applicationCountLabel">&nbsp;</span><span slot="text">aplikací</span></gov-statsbar-item>
    <gov-statsbar-item><span id="publisherCountLabel">&nbsp;</span><span slot="text">poskytovatelů</span></gov-statsbar-item>
    <gov-statsbar-item><span id="keywordCountLabel">&nbsp;</span><span slot="text">klíčových slov</span></gov-statsbar-item>
</gov-statsbar>
<br>
<!-- div style="max-width: 800px; margin: 0 auto; width: 75%;">
<a href="https://data.gov.cz/konference/2026/index.html">
  {% include image.html url="https://data.gov.cz/přílohy/homepage/HP_banner.webp" %}
</a>
</div -->


<!-- gov-container>
    <h2>Novinky ze světa dat veřejné správy</h2>
    <gov-tiles columns="3" no-border>
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts limit:3 %}
        <gov-tile href="..{{ post.url }}">
          <h3 slot="title">{{ post.title }}</h3>
          <gov-chip variant="secondary" size="xs" tag="span" inverse="true"><gov-icon type="complex" name="time" slot="left-icon"></gov-icon>{{ post.date | date: "%-d. %-m. %Y" }}</gov-chip>
          {% if post.image %}
          <p><img width="100%" src="novinky/{{ post.image }}" alt="{{ post.title }}"/></p>
          {% endif %}
          {{ post.excerpt }}
        </gov-tile>
        {% endfor %}
    </gov-tiles>
    <div class="flex-justify-end">
        <gov-button variant="primary" inverse="true" type="solid" size="m" href="novinky" wcag-label="Přejít do archivu novinek">Archiv novinek</gov-button>
    </div>
</gov-container -->

<gov-container>
    <h2>Měníte doménu? Pozor na rozpad vazeb v propojených datech</h2>
    <p>Jednotná státní doména gov.cz sice přináší řád do komunikace s občany, ale v hlubších vrstvách digitální infrastruktury může napáchat nevratné škody. Neuvážená změna perzistentních identifikátorů (IRI) při migraci systémů hrozí okamžitým rozpadem ekosystému propojených dat.</p>
    <a href="/špatná-praxe/perzistentní-iri/">Více o doporučeních pro zachování perzistentních IRI</a>
</gov-container>


<gov-container>
    <h2>Aktuality a články ze světa dat veřejné správy</h2>
    <gov-tiles columns="3" no-border>
        {% assign clanky=site.clanky | where:"lang", page.lang | reverse %}
        {% for clanek in clanky limit:6 %}
        <gov-tile href="..{{ clanek.url }}">
            <h3 slot="title">{{ clanek.title }}</h3>
            <gov-chip variant="secondary" size="xs" tag="span" inverse="true"><gov-icon type="complex" name="time" slot="left-icon"></gov-icon>{{ clanek.date | date: "%-d. %-m. %Y" }}</gov-chip>
            {% if clanek.image %}
            <p><img width="100%" src="články/{{ clanek.image }}" alt="{{ clanek.title }}"/></p>
            {% endif %}
            {{ clanek.excerpt }}
        </gov-tile>
        {% endfor %}
     </gov-tiles>
     <div class="flex-justify-end">
        <gov-button variant="primary" inverse="true" type="solid" size="m" href="články" wcag-label="Přejít na starší články">Starší články</gov-button>
     </div> 
</gov-container>

<div style="display: flex; justify-content: center; padding: 20px;">
<script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
      
<form
action="https://app.kit.com/forms/9383849/subscriptions"
class="seva-form formkit-form" method="post"
data-sv-form="9383849" data-uid="337df45c4c"
data-format="inline" data-version="5"
data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;success_message&quot;:&quot;Výborně!
Přihlášení proběhlo úspěšně.&quot;,&quot;redirect_url&quot;:&quot;&quot;},&quot;analytics&quot;:{&quot;google&quot;:null,&quot;fathom&quot;:null,&quot;facebook&quot;:null,&quot;segment&quot;:null,&quot;pinterest&quot;:null,&quot;sparkloop&quot;:null,&quot;googletagmanager&quot;:null},&quot;modal&quot;:{&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;powered_by&quot;:{&quot;show&quot;:false,&quot;url&quot;:&quot;https://kit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;Váš
e-mail již máme
zaregistrovaný.&quot;},&quot;slide_in&quot;:{&quot;display_in&quot;:&quot;bottom_right&quot;,&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;sticky_bar&quot;:{&quot;display_in&quot;:&quot;top&quot;,&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15}},&quot;version&quot;:&quot;5&quot;}"
min-width="400 500 600 700 800" style="background-color:
transparent; border: none; margin: 0 auto; display: flex; justify-content: center; font-family: inherit;">
  <div data-style="minimal" style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 15px; flex-wrap: nowrap; padding: 20px; width: 100%; position: relative;">
    <div class="formkit-header"
data-element="header" style="color: rgb(22, 119, 190); font-size:
20px; font-weight: 700; margin: 0; white-space: nowrap;">
      <h2 style="margin: 0; font-size: inherit; font-weight: inherit; color: inherit;">ODEBÍREJTE
NEWSLETTER</h2>
    </div>
    <ul class="formkit-alert
formkit-alert-error" data-element="errors"
data-group="alert"></ul>
    <div data-element="fields"
data-stacked="false" class="seva-fields formkit-fields" style="display: flex; flex-direction: row; align-items: stretch; gap: 10px; margin: 0; flex-wrap: nowrap;">
      <div
class="formkit-field" style="margin: 0; min-width: auto; display: flex;">
        <input
class="formkit-input" name="email_address"
aria-label="Vložte svůj e-mail" placeholder="[vas@email.cz]" required="" type="email" style="color:
rgb(0, 0, 0); border-color: rgb(219, 219, 219); border-radius: 0px;
font-weight: 400; font-family: inherit; min-width: 250px; height: 100%;">
      </div>
      <button
data-element="submit" class="formkit-submit formkit-submit"
style="color: rgb(255, 255, 255); background-color: rgb(22, 119, 190);
border-radius: 0px; font-weight: 700; margin: 0; font-family: inherit; flex-shrink: 0; display: inline-flex; align-items: center; justify-content: center; border: none;">
        <div
class="formkit-spinner">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span
class="" style="padding: 0 20px; display: block; line-height: 1; white-space: nowrap;">Chci být v obraze</span>
      </button>
    </div>
  </div>
  <style>
    .formkit-form[data-uid="337df45c4c"] * { box-sizing: border-box; }
    .formkit-form[data-uid="337df45c4c"] { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; max-width: 700px; position: relative; overflow: hidden; }
    .formkit-form[data-uid="337df45c4c"] .formkit-input { background: #ffffff; font-size: 15px; padding: 12px; border: 1px solid #e3e3e3; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; line-height: 1.4; margin: 0; -webkit-transition: border-color ease-out 300ms; transition: border-color ease-out 300ms; width: 100%; }
    .formkit-form[data-uid="337df45c4c"] .formkit-input:focus { outline: none; border-color: #1677be; -webkit-transition: border-color ease 300ms; transition: border-color ease 300ms; }
    .formkit-form[data-uid="337df45c4c"] .formkit-input::placeholder { color: inherit; opacity: 0.8; }
    .formkit-form[data-uid="337df45c4c"] .formkit-submit { border: 0; border-radius: 5px; color: #ffffff; cursor: pointer; display: inline-block; text-align: center; font-size: 15px; font-weight: 500; margin-bottom: 0; overflow: hidden; padding: 0; position: relative; vertical-align: middle; }
    .formkit-form[data-uid="337df45c4c"] .formkit-submit:hover, .formkit-form[data-uid="337df45c4c"] .formkit-submit:focus { outline: none; }
    .formkit-form[data-uid="337df45c4c"] .formkit-submit:hover > span, .formkit-form[data-uid="337df45c4c"] .formkit-submit:focus > span { background-color: rgba(0,0,0,0.1); }
    .formkit-form[data-uid="337df45c4c"] .formkit-submit > span { display: block; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
    .formkit-form[data-uid="337df45c4c"] .formkit-alert { background: #f9fafb; border: 1px solid #e3e3e3; border-radius: 5px; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; list-style: none; margin: 25px auto; padding: 12px; text-align: center; width: 100%; }
    .formkit-form[data-uid="337df45c4c"] .formkit-alert:empty { display: none; }
    .formkit-form[data-uid="337df45c4c"] .formkit-alert-error { background: #fde8e2; border-color: #f2643b; color: #ea4110; }
    .formkit-form[data-uid="337df45c4c"] .formkit-spinner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 0px; width: 0px; margin: 0 auto; position: absolute; top: 0; left: 0; right: 0; overflow: hidden; text-align: center; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
    .formkit-form[data-uid="337df45c4c"] .formkit-spinner > div { margin: auto; width: 12px; height: 12px; background-color: #fff; opacity: 0.3; border-radius: 100%; display: inline-block; -webkit-animation: formkit-bouncedelay-formkit-form-data-uid-337df45c4c- 1.4s infinite ease-in-out both; animation: formkit-bouncedelay-formkit-form-data-uid-337df45c4c- 1.4s infinite ease-in-out both; }
    .formkit-form[data-uid="337df45c4c"] .formkit-spinner > div:nth-child(1) { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
    .formkit-form[data-uid="337df45c4c"] .formkit-spinner > div:nth-child(2) { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
    .formkit-form[data-uid="337df45c4c"] .formkit-submit[data-active] .formkit-spinner { opacity: 1; height: 100%; width: 50px; }
    .formkit-form[data-uid="337df45c4c"] .formkit-submit[data-active] .formkit-spinner ~ span { opacity: 0; }
    @-webkit-keyframes formkit-bouncedelay-formkit-form-data-uid-337df45c4c- { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1); transform: scale(1); } }
    @keyframes formkit-bouncedelay-formkit-form-data-uid-337df45c4c- { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1); transform: scale(1); } }
  </style>
</form>

</div>

      <gov-container>
    <h2>Důležité informace pro členy ekosystému otevřených dat</h2>
    <gov-tiles columns="3" no-border>
		<gov-tile href="informace/základy-otevřených-dat-pro-zájemce/">
			<h3 slot="title">Zájemci o otevírání dat</h3>
			<p>Co mi otevřená data přinesou a proč bych je měl chtít? Jak pomohou mé obci či mému úřadu?</p>
		</gov-tile>
		<gov-tile href="pro-poskytovatele/">
			<h3 slot="title">Poskytovatelé dat</h3>
			<p>Jak postupovat při otevírání dat? Jaké jsou příklady dobré a špatné praxe? A jaké jsou právní aspekty otevírání dat?</p>
		</gov-tile>
		<gov-tile href="pro-uživatele/">
			<h3 slot="title">Uživatelé dat</h3>
			<p>Kde najdu otevřená data? Co jsou otevřené formáty XML, CSV či RDF? Kde si mohu říct o další otevřená data nebo nahlásit chybu v datech?</p>
		</gov-tile>
	</gov-tiles>
</gov-container>

<script src="/assets/data-portal/js/statistics.js" ></script>
