---
layout: default
ref: Home
lang: cs
homepage: true
---
<div class="jumbotron jumbotron-fluid">
  <div class="container text-white">
	<div class="row">
	  <div class="col-md-6">
		<h1 class="display-3">Otevřená data</h1>
		<p>Vše, co potřebujete vědět o otevřených datech v&nbsp;České&nbsp;republice</p>
		<p><a href="otevřená-data-snadno-a-rychle" class="btn btn-primary">Chci data otevřít snadno a rychle</a></p>
	  </div>
	  <div class="col-md-6 text-right d-none d-md-block">
	    <div id="count" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
		  <div class="carousel-inner">
			<div class="carousel-item active">
			  <p class="display-3" id="datasetCountLabel"> ?</p>
			  <p>datových sad</p>
			</div>
			<div class="carousel-item">
			  <p class="display-3" id="publisherCountLabel"> ?</p>
			  <p>poskytovatelů</p>
			</div>
			<div class="carousel-item">
			  <p class="display-3" id="keywordCountLabel"> ?</p>
			  <p>klíčových slov</p>
			</div>
		  </div>
		</div>
		<form id="searchForm" class="form-inline float-right" action="https://data.gov.cz/datové-sady">
			<label class="sr-only" for="dotaz">Název hledané datové sady</label>
			<div class="input-group">
			  <div class="input-group-prepend">
				<span class="input-group-text " id="search-addon"><i class="material-icons">search</i></span>
			  </div>
			  <input class="form-control" type="text" placeholder="Název datové sady" name="dotaz" id="dotaz" title="Název hledané datové sady" aria-describedby="search-addon">
			  <div class="input-group-append">
				<button class="btn btn-primary" type="submit">Hledat</button>
			  </div>
			</div>
		</form>
	  </div>
	</div>
  </div>
</div>

<div class="container">
  <div class="row">
	<div class="col-md-4">
	  <h2>Zájemci o otevírání dat</h2>
	  <p>Co mi otevřená data přinesou a proč bych je měl chtít? Jak pomohou mé obci či mému úřadu?</p>
	  <p><a class="btn btn-secondary" href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-zájemce" role="button">Více informací &raquo;</a></p>
	</div>
	<div class="col-md-4">
	  <h2>Poskytovatelé dat</h2>
	  <p>Jak postupovat při otevírání dat? Jaké jsou příklady dobré a špatné praxe? A jaké jsou právní aspekty otevírání dat?</p>
	  <p><a class="btn btn-secondary" href="https://opendata.gov.cz" role="button">Více informací &raquo;</a></p>
   </div>
	<div class="col-md-4">
	  <h2>Uživatelé dat</h2>
	  <p>Kde najdu otevřená data? Co jsou otevřené formáty XML, CSV či RDF? Kde si mohu říct o další otevřená data nebo nahlásit chybu v datech?</p>
	  <p><a class="btn btn-secondary" href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-programátory" role="button">Více informací &raquo;</a></p>
	</div>
  </div>
</div>

<div class="container">
  <hr/>
	<div class="row">
		{% assign posts=site.posts | where:"lang", page.lang %}
		{% for post in posts limit:3 %}
		<div class="col-12 col-md-6 col-lg-4">
			<h3 class="h5">{{ post.title }}</h3>
			<p class="h6 text-muted">{{ post.date | date: "%-d. %-m. %Y" }}</h6>
			<p>
				{{ post.excerpt }}
			</p>
			{% if post.detail %}
			<a href="{{ post.url }}" class="btn btn-secondary" role="button">Více informací &raquo;</a>
			{% endif %}
		  </div>
		{% endfor %}
	 </div>
</div>


<script type="text/javascript" src="{{ "/js/stats.js" | relative_url }}" ></script>
