---
layout: default
title: News
ref: Posts
lang: en
postindex: true
---

  <div class="container">
    <h1 class="header center">What's new in open data in Czechia</h1>
    <hr/>
    <div class="row">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in posts limit:3 %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="section">
          <h3 class="h5">{{ post.title }}</h3>
          <p class="h6">{{ post.date | date: "%-d %B %Y" }}</p>
          {{ post.excerpt }}
          {% if post.detail %}
          <p><a href="{{ post.url }}" class="btn btn-secondary" role="button">See more &raquo;</a></p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <hr/>
    <h2>Older posts</h2>
    <div class="row">
      {% for post in posts offset:3 %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="section">
          <h3 class="h5">{{ post.title }}</h3>
          <p class="h6">{{ post.date | date: "%-d %B %Y" }}</p>
          {{ post.excerpt }}
          {% if post.detail %}
          <p><a href="{{ post.url }}" class="btn btn-secondary" role="button">See more &raquo;</a></p>
          {% endif %}
        </div>
		  </div>
      {% endfor %}       
	  </div>
  </div>