.gov-footer__main > li,
.gov-footer__main > li:last-child {
  width: 300px;
}

.gov-footer__address gov-button svg {
  color: var(--color-neutral-0);
}

.gov-footer h5 {
  margin-top: 0;
}

.gov-navigation > ul > li > a[aria-current="page"] {
  background-color: var(--button-outlined-primary-hover);
  color: var(--text-primary-color);
}

.gov-navigation > ul > li > gov-button.active .element {
  background-color: var(--button-outlined-primary-hover);
  color: var(--text-primary-color);
}

.dashboard-preview {
  display: block;
  width: 100%;
  height: 440px;
  border: 0;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: .75rem;
    word-wrap: break-word;
}