    <footer class="footer bg-light py-4 mt-2 border-top">
        <div class="container">
		   <div class="row">
		<div class="col-md-4">
			<strong>Contacts</strong>
			<ul>
			  <li>Contact person: <a href="mailto:michal.kuban@mvcr.cz">Michal Kubáň</a></li>
			  <li>Email: <a href="mailto:michal.kuban@mvcr.cz">michal.kuban@mvcr.cz</a></li>
			  <li>Phone: +420 974 816 395</li>
			  <li><a href="http://www.mvcr.cz/">Ministry of the Interior of the Czech Republic</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<strong>Links</strong>
			<ul>
				<li><a href="news">News archive</a></li>
				<li><a href="https://data.gov.cz/datasets">National Open Data Catalog</a></li>
				<li><a href="https://data.gov.cz/datasets">List of datasets</a></li>
				<li><a href="https://data.gov.cz/publishers">List of publishers</a></li>
				<li><a href="https://github.com/opendata-mvcr/opendata-mvcr.github.io">Web on GitHub</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<div class="bg-white shadow">
				<img alt="European Union - European Social Fund - Operational Programme Employment" class="d-inline-block align-top img-fluid pr-2" id="eulogo" src="{{ "/images/ozp_logo_en.jpg" | relative_url}}" width="300">
			</div>
		</div>
          </div>
	  <hr>
	  <div class="row">
		<div class="col-md-12 font-italic" >
			The form the information is published in complies with <a href="https://www.zakonyprolidi.cz/cs/2008-64" title="Accessibility decree">Decree No. 64/2008, on the form of publishing information related to the exercise of public administration via web sites for persons with a disability (accessibility decree)</a> and conforms to all the rules laid down in the appendix to this decree.<!-- This web site was created in line with the Code of Practice accompanying Decree No. 64/2008 and the methodologies for the Blind Friendly Web (a project of Czech Blind United).-->
		</div>
	  </div>	
	</div>
    </footer>