    <footer class="footer py-4 mt-2 border-top">
        <div class="container">
           <div class="row">
            <div class="col-md-4">
                <strong>Registrace do NKOD</strong>
                <ul>
                    <li><a href="/formulář/registrace-datové-sady">Registrovat novou datovou sadu</a></li>
                    <li><a href="/formulář/registrace-lokálního-katalogu">Registrovat nový lokální katalog</a></li>
                </ul>
                <strong>Kontakty</strong>
                <ul>
                  <li>Kontaktní osoba: <a href="mailto:michal.kuban@mvcr.cz">Michal Kubáň</a></li>
                  <li>E-mail: <a href="mailto:michal.kuban@mvcr.cz">michal.kuban@mvcr.cz</a></li>
                  <li>Telefon: +420 974 816 395</li>
                  <li><a href="http://www.mvcr.cz/">Ministerstvo vnitra České republiky</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <strong>Odkazy</strong>
                <ul>
                    <li><a href="/novinky">Novinky</a></li>
                    <li><a href="/články">Články</a></li>
                    <li><a href="/datové-sady">Národní katalog otevřených dat</a></li>
                    <li><a href="/datové-sady">Seznam datových sad</a></li>
                    <li><a href="/poskytovatelé">Seznam poskytovatelů</a></li>
                    <li><a href="https://github.com/opendata-mvcr/opendata-mvcr.github.io">Web na GitHubu</a></li>
                </ul>
            </div>
            <div class="col-md-4">
			    <strong>Poděkování</strong>
				<p>Tento web vznikl v rámci projektu <a href="https://www.esfcr.cz/projekty-opz/-/asset_publisher/ODuZumtPTtTa/content/rozvoj-datovych-politik-v-oblasti-zlepsovani-kvality-a-interoperability-dat-verejne-spravy">OPZ č. CZ.03.4.74/0.0/0.0/15_025/0013983</a>.</p>
                <div class="bg-white shadow">
                    <img alt="Evropská unie - Evropský sociální fond - Operační program Zaměstnanost" class="d-inline-block align-top img-fluid pr-2" id="eulogo" src="{{ "/images/ozp_logo_cz.jpg" | relative_url}}" width="300">
                </div>
            </div>
              </div>
          <hr>
          <div class="row">
            <div class="col-md-12 font-italic">
                Forma uveřejňovaných informací je v souladu s <a href="https://www.zakonyprolidi.cz/cs/2008-64" title="Vyhláška o přístupnosti">vyhláškou č. 64/2008 Sb., o formě uveřejňování informací souvisejících s výkonem veřejné správy prostřednictvím webových stránek pro osoby se zdravotním postižením (vyhláška o přístupnosti)</a>, a splňuje všechna pravidla uveřejněná v příloze této vyhlášky.
            </div>
          </div>    
        </div>
    </footer>