    <!-- footer class="gov-footer">
        <gov-container>
            <gov-grid role="list">
                <gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
                    <h3 class="h6">Registrace do NKOD</h3>
                    <ul>
                        <li><a href="/formulář/registrace-datové-sady">Registrovat novou datovou sadu</a></li>
                        <li><a href="/formulář/registrace-lokálního-katalogu">Registrovat nový lokální katalog</a></li>
                        <li><a href="{{site.lkod_validator}}">Validovat lokální katalog</a></li>
                        <li><a href="{{site.app_registration_form}}">Registrovat aplikaci využívající otevřená data</a></li>
                        <li><a href="{{site.suggestion_form}}">Registrovat návrh datové sady k otevření</a></li>
                    </ul>
                    <h3 class="h6">Kontakty</h3>
                    <ul>
                        <li>Národní koordinátor otevřených dat: Michal&nbsp;Kubáň</li>
                        <li>Kontaktní e-mail: <a href="mailto:otevrenadata@dia.gov.cz">otevrenadata@dia.gov.cz</a></li>
                        <li>X: <a href="https://x.com/otevrenadata">@otevrenadata</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/playlist?list=PL1Cp5doNb3zQc_ncuqg85b7ChdsJpBK4e">Otevřená data - vzdělávání</a></li>
                        <li><a href="https://dia.gov.cz/">Digitální a informační agentura</a></li>
                    </ul>
                </gov-grid-item>
                <gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
                    <h3 class="h6">Odkazy</h3>
                    <ul>
                        <li><a href="/novinky">Novinky</a></li>
                        <li><a href="/články">Články</a></li>
                        <li><a href="/správa-dat">Správa dat</a></li>
                        <li><a href="/vzdělávání">Vzdělávání</a></li>
                        <li><a href="/datové-sady">Národní katalog otevřených dat</a></li>
                        <li><a href="/poskytovatelé">Seznam poskytovatelů</a></li>
                        <li><a href="/datová-kvalita">Datová kvalita</a></li>
                        <li><a href="/výroční-zprávy">Výroční zprávy</a></li>
                        <li><a href="https://github.com/datagov-cz/data.gov.cz">Web na GitHubu</a></li>
                        <li><a href="/prohlášení-o-přístupnosti">Prohlášení o přístupnosti</a></li>
                    </ul>
                </gov-grid-item>
                <gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
                    <h3 class="h6">Poděkování</h3>
                    <gov-grid role="list">
                        <gov-grid-item size-sm="12/12" size-md="12/12" role="listitem" size-lg="12/12">
                            <img alt="Digitální a informační agentura" id="npologo" src="{{ "/images/dia_bílá.svg" | relative_url}}" width="150">
                        </gov-grid-item>
                        <gov-grid-item size-sm="12/12" size-md="12/12" role="listitem" size-lg="12/12" size-xl="6/12">
                            <img alt="NextGenerationEU" id="npologo" src="{{ "/images/ngeu-bily.webp" | relative_url}}" width="200">
                        </gov-grid-item>
                        <gov-grid-item size-sm="12/12" size-md="12/12" role="listitem" size-lg="12/12" size-xl="6/12">
                            <img alt="Národní plán obnovy" id="npologo" src="{{ "/images/npo_cz.webp" | relative_url}}" width="200">
                        </gov-grid-item>
                    </gov-grid>
                    <p class="gov-text--xs">
                        Tento web vznikl v rámci projektů <a href="https://www.esfcr.cz/projekty-opz/-/asset_publisher/ODuZumtPTtTa/content/implementace-strategii-v-oblasti-otevrenych-dat-ii" _TARGET="_blank">OPZ č. CZ.03.4.74/0.0/0.0/15_025/0004172</a> a <a href="https://www.esfcr.cz/projekty-opz/-/asset_publisher/ODuZumtPTtTa/content/rozvoj-datovych-politik-v-oblasti-zlepsovani-kvality-a-interoperability-dat-verejne-spravy" _TARGET="_blank">OPZ č. CZ.03.4.74/0.0/0.0/15_025/0013983</a> a je dále rozvíjen v rámci projektu Rozvoj Národního katalogu otevřených dat  a infrastruktury Veřejného datového fondu <a href="https://www.dia.gov.cz/cs/nase-cinnosti/projekty/projekty-fondy-eu/rozvoj-narodniho-katalogu-otevrenych-dat-nkod-a-infrastruktury-verejneho-datoveho-fondu" _TARGET="_blank">CZ.31.1.0/0.0/0.0/22_050/0007986</a> z nástroje Evropské Unie NextGenerationEU prostřednictvím Národního plánu obnovy.
                    </p>
                </gov-grid-item>
            </gov-grid>
            <hr>
            <div>
                <div>
                    Není-li uvedeno jinak, je autorskoprávně a databázově chráněný obsah publikovaný na těchto stránkách licencován pod licencí <a href="https://creativecommons.org/licenses/by/4.0/deed.cs">CC BY 4.0</a>.
                    Při jeho využití uveďte zdroj a odkažte na patřičnou licenci.
                </div>
            </div>    
        </gov-container>
    </footer -->




    
<footer class="gov-footer">
    <gov-flex class="gov-footer__content" direction="column" justify-content="space-between" gap="3xl">
        <gov-flex responsive="false">
            <ul class="gov-footer__main gov-list--plain">
                <li>
                    <nav aria-labelledby="nav1">
                        <h5 id="nav1">Title</h5>
                        <ul class="gov-list--plain">
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <nav aria-labelledby="nav2">
                        <h5 id="nav2">Title</h5>
                        <ul class="gov-list--plain">
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <nav aria-labelledby="nav3">
                        <h5 id="nav3">Title</h5>
                        <ul class="gov-list--plain">
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <h5>Title</h5>
                    <gov-flex direction="column" gap="l">
                        <address>
                            <ul class="gov-footer__address gov-list--plain">
                                <li>Adresa 1</li>
                                <li>686 01 Praha</li>
                                <li>
                                    <gov-link href="tel:+420789325678" size="s">
                                        <gov-icon type="templates" name="telephone" slot="icon-start" alt="tel.:" aria-label="telefon"></gov-icon>
                                        +420 789 325 678
                                    </gov-link>
                                </li>
                                <li>
                                    <gov-link href="mailto:loremipsum@email.com" size="s">
                                        <gov-icon type="templates" name="envelope" slot="icon-start" alt="e-mail:" aria-label="e-mail"></gov-icon>
                                        loremipsum@email.com
                                    </gov-link>
                                </li>
                            </ul>
                        </address>
                        <nav aria-label="Odkazy na sociální sítě">
                            <ul class="gov-social gov-list--plain">
                                <li>
                                    <gov-button color="primary" size="s" type="base" aria-label="Facebook" target="_blank" rel="noreferrer nofollow" href="#" title="Facebooku">
                                        <gov-icon type="templates" name="facebook" slot="icon-start" size="s"></gov-icon>

                                    </gov-button>
                                </li>
                                <li>
                                    <gov-button color="primary" size="s" type="base" aria-label="Instagram" target="_blank" rel="noreferrer nofollow" href="#" title="Instagram">
                                        <gov-icon type="templates" name="instagram" slot="icon-start" size="s"></gov-icon>

                                    </gov-button>
                                </li>
                                <li>
                                    <gov-button color="primary" size="s" type="base" aria-label="Youtube" target="_blank" rel="noreferrer nofollow" href="#" title="Youtube">
                                        <gov-icon type="templates" name="youtube" slot="icon-start" size="s"></gov-icon>

                                    </gov-button>
                                </li>
                                <li>
                                    <gov-button color="primary" size="s" type="base" aria-label="Linkedin" target="_blank" rel="noreferrer nofollow" href="#" title="Linkedin">
                                        <gov-icon type="templates" name="linkedin" slot="icon-start" size="s"></gov-icon>

                                    </gov-button>
                                </li>
                                <li>
                                    <gov-button color="primary" size="s" type="base" aria-label="Twitter X" target="_blank" rel="noreferrer nofollow" href="#" title="Twitter X">
                                        <gov-icon type="templates" name="twitter-x" slot="icon-start" size="s"></gov-icon>

                                    </gov-button>
                                </li>
                            </ul>
                        </nav>
                    </gov-flex>
                </li>
            </ul>
            <gov-button color="primary" size="m" type="base" aria-label="Vrátit se na začátek stránky" class=" gov-footer__up js-gov-footer__up">
                <gov-icon type="templates" name="arrow-up" slot="icon-start"></gov-icon>

            </gov-button>
        </gov-flex>


        <gov-grid gap="l" class="gov-footer__logos-group">
            <gov-grid-item col-span="12" col-span-lg="6">
                <section>
                      <ul class="gov-logos gov-list--plain">
                        <li>
                            <a href="https://www.dia.gov.cz/" aria-label="Otevřít stránky DIA" target="_blank" rel="noreferrer nofollow"
                                <img alt="Digitální a informační agentura" id="npologo" src="{{ "/images/DIA_neg.webp" | relative_url}}" width="150">
                                                </a>
                        </li>
                        <li>
                            <a href="https://next-generation-eu.europa.eu/index_cs" aria-label="Otevřít stránky Next Generation EU" target="_blank" rel="noreferrer nofollow">
                                <svg width="119" height="40" xmlns="http://www.w3.org/2000/svg">
                                    <image href="/assets/logos/financovano-eu.svg" width="119" height="40"></image>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.planobnovycr.cz/" aria-label="Otevřít stránky Národní plán obnovy" target="_blank" rel="noreferrer nofollow">
                                <svg width="118" height="32" xmlns="http://www.w3.org/2000/svg">
                                    <image href="/assets/logos/narodni-plan-obnovy.svg" width="118" height="32"></image>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </section>
            </gov-grid-item>
            <gov-grid-item col-span="12" col-span-lg="6">
                <section>
                    <h5>Mobilní aplikace nebo jiná loga</h5>
                    <ul class="gov-logos gov-list--plain">
                        <li>
                            <a href="https://apps.apple.com/us/app/port%C3%A1l-ob%C4%8Dana/id6483367664" title="Přejít na Apple Store" aria-label="Přejít na Apple Store" target="_blank" rel="noreferrer nofollow">
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id&#x3D;cz.gov.portal.v2.obcan" title="Přejít na Google Play" aria-label="Přejít na Google Play" target="_blank" rel="noreferrer nofollow">
                            </a>
                        </li>
                    </ul>
                </section>
            </gov-grid-item>
        </gov-grid>
        <gov-flex direction="column" gap="m-nudge">
            <nav aria-label="Odkazy na právní dokumenty">
                <ul class="gov-footer-links gov-list--plain">
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                </ul>
            </nav>
            <hr>
            <gov-flex class="gov-footer-copy" justify-content="space-between" gap="m">
                <p>2025 &copy; Digitální a informační agentura &bull; Informace jsou poskytovány v souladu se zákonem č. 106/1999 Sb., o svobodném přístupu k informacím.</p>
                <div>
                    <gov-flex class="gov-footer__version" responsive="false">
                        <span>Verze 2.0.2105.9856</span>
                        <span>Využit Design system 4.2</span>
                    </gov-flex>
                </div>
            </gov-flex>

        </gov-flex>
    </gov-flex>
</footer>

