<footer class="gov-footer">
  <gov-flex class="gov-footer__content" direction="column" justify-content="space-between" gap="3xl">
    <gov-grid gap="l">
      <gov-grid-item col-span="12">
        <ul class="gov-footer__main gov-list--plain !mt-0">
          <li>
            <nav aria-labelledby="nav-footer-registration">
              <h5 id="nav-footer-registration"><strong>Registration in NKOD</strong></h5>
              <ul class="gov-list--plain">
                <li><gov-link href="/formulář/dataset-registration">Register a dataset</gov-link></li>
                <li><gov-link href="/formulář/local-catalog-registration">Register a new local catalog</gov-link></li>
                <li><gov-link href="{{site.lkod_validator}}">Validate local catalog</gov-link></li>
                <li><gov-link href="{{site.app_registration_form}}">Register an application using open data</gov-link></li>
                <li><gov-link href="{{site.suggestion_form}}">Suggest data to be opened</gov-link></li>
              </ul>
            </nav>
          </li>
          <li>
            <nav aria-labelledby="nav-footer-links">
              <h5 id="nav-footer-links"><strong>Links</strong></h5>
              <ul class="gov-list--plain">
                <li><gov-link href="/news">News archive</gov-link></li>
                <li><gov-link href="/datasets">National Open Data Catalog</gov-link></li>
                <li><gov-link href="/datasets">List of datasets</gov-link></li>
                <li><gov-link href="/publishers">List of publishers</gov-link></li>
                <li><gov-link href="/datová-kvalita">Data quality</gov-link></li>
                <li><gov-link href="https://forms.office.com/e/UuwD7UBnRG">Suggest data to be opened (in Czech)</gov-link></li>
                <li><gov-link href="https://github.com/datagov-cz/data.gov.cz">Web on GitHub</gov-link></li>
                <li><gov-link href="/prohlášení-o-přístupnosti">Declaration of accessibility (in Czech)</gov-link></li>
              </ul>
            </nav>
          </li>
          <li>
            <nav aria-labelledby="nav-footer-contacts">
              <h5 id="nav-footer-contacts"><strong>Contacts</strong></h5>
              <address>
                <ul class="gov-footer__address gov-list--plain">
                  <li>National Open Data Coordinator: Michal&nbsp;Kubáň</li>
                  <li><gov-link href="mailto:otevrenadata@dia.gov.cz">otevrenadata@dia.gov.cz</gov-link></li>
                  <li>Phone: <gov-link href="tel:+420974817556">+420 974 817 556</gov-link></li>
                  <li>X: <gov-link href="https://x.com/otevrenadata">@otevrenadata</gov-link></li>
                  <li><gov-link href="https://dia.gov.cz/">Digital and Information Agency</gov-link></li>
                </ul>
              </address>
            </nav>
          </li>
        </ul>
      </gov-grid-item>
    </gov-grid>

    <section>
      <h5><strong>Acknowledgements</strong></h5>
      <p>This web was created thanks to the project OPZ number CZ.03.4.74/0.0/0.0/15_025/0004172 and is further developed as part of the project OPZ number CZ.03.4.74/0.0/0.0/15_025/0013983. Increase in the number of open data producers in the public administration publishing open data in the National Open Data Catalogue was co-financed from Recovery and Resilience Facility.</p>
      <img alt="Czech Recovery Plan" id="npologo" src="{{ "/images/npo_en.webp" | relative_url}}" width="300">
    </section>

    <gov-flex direction="column" gap="m-nudge">
      <hr>
      <p>Unless stated otherwise, the copyrighted content present on this website (including sui generis database rights) is licensed under <gov-link href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</gov-link>. Please attribute correctly and link to the licence when reusing the content.</p>
    </gov-flex>
  </gov-flex>
</footer>
