<footer>
	<gov-container>
		<gov-spacer size="xs" breakpoint="sm"></gov-spacer>
		<gov-grid class="gov-grid hydrated" role="list">
			<!--<h2 class="visually-hidden">Links to additional information on open data</h2>-->
			<gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
				<h3 class="h6">Registration in NKOD</h3>
				<ul>
					<li><a href="/formulář/dataset-registration">Register a dataset</a></li>
					<li><a href="/formulář/local-catalog-registration">Register a new local catalog</a></li>
					<li><a href="{{site.app_registration_form}}">Register an application using open data</a></li>
					<li><a href="{{site.suggestion_form}}">Suggest data to be opened</a></li>
				</ul>
				<h3 class="h6">Contacts</h3>
				<ul>
					<li>National Open Data Coordinator: Radka&nbsp;Domanská</li>
					<li>E-mail: <a href="mailto:otevrenadata@dia.gov.cz">otevrenadata@dia.gov.cz</a></li>
					<li>Phone: <a href="tel:+420974817556">+420 974 817 556</a></li>
					<li>X: <a href="https://x.com/otevrenadata">@otevrenadata</a></li>
					<li><a href="https://dia.gov.cz/">Digital and Information Agency</a></li>
				</ul>
		</gov-grid-item>
			<gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
				<h3 class="h6">Links</h3>
				<ul>
					<li><a href="/news">News archive</a></li>
					<li><a href="/datasets">National Open Data Catalog</a></li>
					<li><a href="/datasets">List of datasets</a></li>
					<li><a href="/publishers">List of publishers</a></li>
					<li><a href="/datová-kvalita">Data quality</a></li>
					<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdUaVaCITtmHdTGxsU5xPvdzIygOA7wHHaotPRPAbglCF3mpw/viewform">Suggest data to be opened</a></li>
					<li><a href="https://github.com/datagov-cz/data.gov.cz">Web on GitHub</a></li>
					<li><a href="/prohlášení-o-přístupnosti">Declaration of accessibility (in Czech)</a></li>
				</ul>
			</gov-grid-item>
			<gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
				<h3 class="h6">Acknowledgements</h3>
				<p>This web was created thanks to the project OPZ number CZ.03.4.74/0.0/0.0/15_025/0004172 and is further developed as part of the project OPZ number CZ.03.4.74/0.0/0.0/15_025/0013983. Increase in the number of open data producers in the public administration publishing open data in the National Open Data Catalogue was co-financed from Recovery and Resilience Facility.</p>
				<div>
					<img alt="Czech Recovery Plan" id="npologo" src="{{ "/images/npo_en.webp" | relative_url}}" width="300">
				</div>
			</gov-grid-item>
		</gov-grid>
		<hr>
		<div>
			<div>
				Unless stated otherwise, the copyrighted content present on this website (including sui generis database rights) is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
					Please attribute correctly and link to the licence when reusing the content.
			</div>
		</div>    
	</gov-container>
	</footer>