    <footer>
        <gov-container>
            <gov-spacer size="xs" breakpoint="sm"></gov-spacer>
            <gov-grid class="gov-grid hydrated" role="list">
                <!--<h2 class="visually-hidden">Odkazy na další informace o otevřených datech</h2>-->
                <gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
                    <h3 class="h6">Registrace do NKOD</h3>
                    <ul>
                        <li><a href="{{baseurl}}/formulář/registrace-datové-sady">Registrovat novou datovou sadu</a></li>
                        <li><a href="{{baseurl}}/formulář/registrace-lokálního-katalogu">Registrovat nový lokální katalog</a></li>
                        <li><a href="{{site.app_registration_form}}">Registrovat aplikaci využívající otevřená data</a></li>
                        <li><a href="{{site.suggestion_form}}">Registrovat návrh datové sady k otevření</a></li>
                    </ul>
                    <h3 class="h6">Kontakty</h3>
                    <ul>
                        <li>Národní koordinátorka otevřených dat: Radka&nbsp;Domanská</li>
                        <li>Kontaktní e-mail: <a href="mailto:otevrenadata@dia.gov.cz">otevrenadata@dia.gov.cz</a></li>
                        <li>X: <a href="https://x.com/otevrenadata">@otevrenadata</a></li>
                        <li>YouTube: <a href="https://www.youtube.com/playlist?list=PL1Cp5doNb3zQc_ncuqg85b7ChdsJpBK4e">Otevřená data - vzdělávání</a></li>
                        <li><a href="https://dia.gov.cz/">Digitální a informační agentura</a></li>
                    </ul>
                </gov-grid-item>
                <gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
                    <h3 class="h6">Odkazy</h3>
                    <ul>
                        <li><a href="{{baseurl}}/novinky">Novinky</a></li>
                        <li><a href="{{baseurl}}/články">Články</a></li>
                        <li><a href="{{baseurl}}/vzdělávání">Vzdělávání</a></li>
                        <li><a href="{{baseurl}}/datové-sady">Národní katalog otevřených dat</a></li>
                        <li><a href="{{baseurl}}/poskytovatelé">Seznam poskytovatelů</a></li>
                        <li><a href="{{baseurl}}/datová-kvalita">Datová kvalita</a></li>
                        <li><a href="{{baseurl}}/výroční-zprávy">Výroční zprávy</a></li>
                        <li><a href="https://github.com/datagov-cz/data.gov.cz">Web na GitHubu</a></li>
                        <li><a href="{{baseurl}}/prohlášení-o-přístupnosti">Prohlášení o přístupnosti</a></li>
                    </ul>
                </gov-grid-item>
                <gov-grid-item size-sm="12/12" size-md="4/12" role="listitem" size="12/12">
                    <h3 class="h6">Poděkování</h3>
                    <p>Tento web vznikl v rámci projektu <a href="https://www.esfcr.cz/projekty-opz/-/asset_publisher/ODuZumtPTtTa/content/implementace-strategii-v-oblasti-otevrenych-dat-ii">OPZ č. CZ.03.4.74/0.0/0.0/15_025/0004172</a> a je dále rozvíjen v rámci projektu <a href="https://www.esfcr.cz/projekty-opz/-/asset_publisher/ODuZumtPTtTa/content/rozvoj-datovych-politik-v-oblasti-zlepsovani-kvality-a-interoperability-dat-verejne-spravy">OPZ č. CZ.03.4.74/0.0/0.0/15_025/0013983</a>. Zvýšení počtu subjektů zveřejňujících otevřená data ve veřejné správě, kteří otevřená data zveřejňují v Národním katalogu otevřených dat byl spolufinancován z Národního plánu obnovy.</p>
                    <div class="bg-white shadow">
                        <img alt="Národní plán obnovy" id="npologo" src="{{ "{{baseurl}}/images/npo_cz.webp" | relative_url}}" width="300">
                    </div>
                </gov-grid-item>
            </gov-grid>
            <hr>
            <div>
                <div>
                    Není-li uvedeno jinak, je autorskoprávně a databázově chráněný obsah publikovaný na těchto stránkách licencován pod licencí <a href="https://creativecommons.org/licenses/by/4.0/deed.cs">CC BY 4.0</a>.
                    Při jeho využití uveďte zdroj a odkažte na patřičnou licenci.
                </div>
            </div>    
        </gov-container>
    </footer>
