<header>
	<gov-container>
		<gov-branding>
			<h4>Portál o datech</h4>
			<div>
				<gov-form-search name="test-me-c" variant="primary">
				<gov-form-input slot="input" id="search" name="test-me" size="m" placeholder="Co hledáte"></gov-form-input>
					<gov-button slot="button" variant="primary" size="s">
						Hledat
					</gov-button>
				</gov-form-search>
				<gov-form-select wcag-label="jazyk" size="m" value="cs">
					<option value="cs">Čeština</option>
					<option value="en">English</option>
				</gov-form-select>
			</div>
		</gov-branding>
		<gov-nav wcag-label="Hlavní navigace">
		{% if page.ref == 'Education' %}
			<gov-nav-item>
			Vzdělávání
			</gov-nav-item>  
			{% else %}
			<gov-nav-item href="{{ "/vzdělávání" | relative_url}}">
				Vzdělávání
			</gov-nav-item>  
			{% endif %}
			{% if page.ref == 'Articles' %}
			<gov-nav-item>
				Články
			</gov-nav-item>
			{% else %}
			<gov-nav-item href="{{ "/články" | relative_url}}">
				Články
			</gov-nav-item>
			{% endif %}
			{% if page.ref == 'DataQuality' %}
			<gov-nav-item>
				Datová kvalita
			</gov-nav-item>
			{% else %}
			<gov-nav-item href="{{ "/datová-kvalita" | relative_url}}">
				Datová kvalita
			</gov-nav-item>
			{% endif %}
			<gov-nav-item href="/datové-sady">
			Datové sady
			</gov-nav-item>
			<gov-nav-item href="/aplikace">
			Aplikace
			</gov-nav-item>
			<gov-nav-dropdown>
				<span slot="label">Další</span>
				<ul slot="dropdown">
				<li>
					<a href="/základy-otevřených-dat-pro-zájemce/">Pro zájemce o otevírání dat</a>
				</li>
				<li>
					<a href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-programátory">Pro uživatele a programátory</a>
				</li>
				<li>
					<a href="https://opendata.gov.cz/">Pro poskytovatele dat</a>
				</li>
				<li>
					<a href="/lokální-katalogy">Lokální katalogy</a>
				</li>
				<li>
					<a href="/návrhy-na-datové-sady-k-otevření">Návrhy na datové sady k otevření</a>
				</li>
				</ul>
			</gov-nav-dropdown>
    	</gov-nav>
    </gov-container>
</header>