<header class="gov-header">
    <gov-container>
      <gov-branding> 
        {% if page.homepage %}
          <h1 class="heading">Portál o datech</h1>
        {% else %}
        <div class="heading">
          <a href="/">Portál o datech</a>
        </div>
        {% endif %}
<!-- {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %} 
	    {% for p in pages %}
		  {% if p.lang != page.lang %}
        <div class="language">
          <a href="{{ p.url }}">English</a>
        </div>      
		  {% endif %}
	    {% endfor %} -->
        </gov-branding>
        <gov-nav wcag-label="Hlavní navigace">
        {% if page.ref == 'DataManagement' %}
            <gov-nav-item class="active">
                Správa dat
            </gov-nav-item> 
        {% else %}
            <gov-nav-item href="{{ "/správa-dat" | relative_url}}">
                Správa dat
            </gov-nav-item>
        {% endif %}
            <gov-nav-dropdown>
                <span slot="label">Otevřená data</span>
                <ul slot="dropdown">
                <li>
                    <a href="/otevřená-data/">Co jsou otevřená data</a>
                </li>
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/">Pro poskytovatele dat</a>
                </li>
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/katalogizace-dat/">Katalogizace dat</a>
                </li>
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/příprava-dat-k-otevření/">Příprava dat k otevření</a>
                </li>
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/rozhodnutí-o-otevírání-dat/">Rozhodnutí o otevírání dat</a>
                </li>                
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/stanovení-podmínek-užití/">Stanovení podmínek užití</a>
                </li>
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/stanovení-rolí/">Stanovení rolí</a>
                </li>
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/stupně-otevřenosti-datových-sad/">Stupně otevřenosti datových sad</a>
                </li>
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/tvorba-publikačního-plánu/">Tvorba publikačního plánu</a>
                </li>
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/vytvoření-datového-schématu-datové-sady/">Vytvoření datového schématu datové sady</a>
                </li>                
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/vzorová-směrnice/">Vzorová směrnice</a>
                </li> 
                <li>
                    <a href="/otevřená-data/pro-poskytovatele/white-paper/">Pro tvůrce informačních systémů</a>
                </li>                                 
                <li>
                    <a href="/otevřená-data/pro-uživatele/">Pro uživatele</a>
                </li>
                </ul>
            </gov-nav-dropdown>        
        {% if page.ref == 'DataQuality' %}
            <gov-nav-item class="active">
                Datová kvalita
            </gov-nav-item>
        {% else %}
            <gov-nav-item href="{{ "/datová-kvalita" | relative_url}}">
                Datová kvalita
            </gov-nav-item>
        {% endif %}
            <gov-nav-dropdown>
                <span slot="label">Národní katalog dat</span>
                <ul slot="dropdown">
                <li>
                    <a href="/datové-sady">Datové sady</a>
                </li>
                <li>
                    <a href="/aplikace">Aplikace</a>
                </li>
                <li>
                    <a href="/poskytovatelé">Poskytovatelé</a>
                </li>
                <li>
                    <a href="/lokální-katalogy">Lokální katalogy</a>
                </li>
                <li>
                    <a href="/návrhy-na-datové-sady-k-otevření">Návrhy na datové sady k otevření</a>
                </li>
                </ul>
            </gov-nav-dropdown>
            <gov-nav-dropdown>
				<span slot="label">Svět dat</span>
				<ul slot="dropdown">
                    <li>
				    <a href="/vzdělávání">Vzdělávání</a>
                    </li>
				    <li>
				    <a href="/články">Články</a>
                    </li>
                    <li><a href="/konference">Konference</a>
                    </li>
                    <li><a href="/výroční-zprávy">Stav otevřených dat</a>
                    </li>
				</ul>
			</gov-nav-dropdown>     
        </gov-nav>
    </gov-container>
</header>
