<nav class="navbar navbar-expand-md navbar-light">
	<div class="container">
	  <a href="/" class="navbar-brand d-flex w-50 mr-auto"><img width="174" height="30" class="d-inline-block align-top" src="{{ "/images/logo.png" | relative_url }}" alt="Open data in Czechia"/></a>
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Show navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  
	  <div class="collapse navbar-collapse" id="collapsingNavbar">
		<ul class="navbar-nav ml-auto w-100 justify-content-end">
		  {% if page.postindex %}
		  <li class="nav-item">
			<span class="nav-link active">News</span>
		  </li>
		  {% else %}
		  <li class="nav-item">
			<a class="nav-link" href="{{ "/news" | relative_url}}">News</a>
		  </li>
		  {% endif %}
		  <li class="nav-item">
			<a class="nav-link" href="/datasets">Datasets</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/publishers">Publishers</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/keywords">Keywords</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="https://opendata.gov.cz" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
			<div class="dropdown-menu" aria-labelledby="dropdown01">
			  <a class="dropdown-item" href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-zájemce">Interested in opening data (in Czech)</a>
			  <a class="dropdown-item" href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-programátory">Users and programmers (in Czech)</a>
			  <a class="dropdown-item" href="https://opendata.gov.cz">Data publishers (in Czech)</a>
			  <a class="dropdown-item" href="/local-catalogs">Local catalogs</a>
			</div>
		  </li>
		  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
		  {% for p in pages %}
			{% if p.lang != page.lang %}
		  <li class="nav-item dropdown">
			  <a data-toggle="dropdown" aria-haspopup="true" href="#" class="dropdown-toggle nav-link" aria-expanded="false"><img src="{{ "/images/flag-en.png" | relative_url}}" alt="English" style="width: 1.2rem;"></a>
			  <div tabindex="-1" aria-hidden="true" role="menu" class="language-drop-down dropdown-menu">
                <a href="{{ p.url }}" class="{{ p.lang }} dropdown-item" title="{{ site.langs[page.lang][p.lang] }}"><img src="{{ site.langs[p.lang].flag | relative_url }}" alt="{{ site.langs[page.lang][p.lang] }}"></a>
			</div>
		  </li>	  
			{% endif %}
		  {% endfor %}
		</ul>
	  </div>
	</div>
</nav>
