<header class="gov-header">
    <gov-container>
		<gov-branding>
			<h1><a href="/english">Czech Data Portal</a></h1>
			<div>
				<gov-form-select wcag-label="jazyk" size="m" value="cs">
					<option value="cs">Čeština</option>
					<option value="en">English</option>
				</gov-form-select>
			</div>
		</gov-branding>
		<gov-nav wcag-label="Main navigation">
			{% if page.ref == 'Posts' %}
			<gov-nav-item class="active">
				News
			</gov-nav-item>
			{% else %}
			<gov-nav-item href="{{ "/news" | relative_url}}">
				News
			</gov-nav-item>
			{% endif %}
			<gov-nav-item href="/datasets">
				Datasets
			</gov-nav-item>
			<gov-nav-item href="/applications">
				Applications
			</gov-nav-item>
			<gov-nav-dropdown>
				<span slot="label">More</span>
				<ul slot="dropdown">
					<li>
						<a href="/informace/základy-otevřených-dat-pro-zájemce/">Interested in opening data (in Czech)</a>
					</li>
					<li>
						<a href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-programátory">Users and programmers (in Czech)</a>
					</li>
					<li>
						<a href="https://opendata.gov.cz/">Data publishers (in Czech)</a>
					</li>
					<li>
						<a href="/local-catalogs">Lokální katalogy</a>
					</li>
					<li>
						<a href="/publishers">Publishers</a>
					</li>
					<li>
						<a href="/suggestions-for-datasets-to-be-opened">Návrhy na datové sady k otevření</a>
					</li>
				</ul>
			</gov-nav-dropdown>
		</gov-nav>
	</gov-container>
</header>
