<header>
    <gov-container>
		<gov-branding>
			<h4>Portál o datech</h4>
			<div>
				<gov-form-search name="test-me-c" variant="primary">
				<gov-form-input slot="input" id="search" name="test-me" size="m" placeholder="Co hledáte"></gov-form-input>
					<gov-button slot="button" variant="primary" size="s">
						Hledat
					</gov-button>
				</gov-form-search>
				<gov-form-select wcag-label="jazyk" size="m" value="cs">
					<option value="cs">Čeština</option>
					<option value="en">English</option>
				</gov-form-select>
			</div>
		</gov-branding>
		<gov-nav wcag-label="Hlavní navigace">
			<gov-nav-item href="{{ "/vzdělávání" | relative_url}}">
				Vzdělávání
			</gov-nav-item>  
			<gov-nav-item href="{{ "/články" | relative_url}}">
				Články
			</gov-nav-item>
			<gov-nav-item href="{{ "/datová-kvalita" | relative_url}}">
				Datová kvalita
			</gov-nav-item>
			<gov-nav-item href="/datové-sady">
				Datové sady
			</gov-nav-item>
			<gov-nav-item href="/aplikace">
				Aplikace
			</gov-nav-item>
			<gov-nav-item href="#">
				Další
			</gov-nav-item>
		</gov-nav>
	</gov-container>
</header>