<header class="gov-header">
    <gov-container>
		<gov-branding>
			<h1><a href="/english">Czech Data Portal</a></h1>
			<div>
				<gov-form-select wcag-label="jazyk" size="m" value="cs">
					<option value="cs">Čeština</option>
					<option value="en">English</option>
				</gov-form-select>
			</div>
		</gov-branding>
		<gov-nav wcag-label="Main navigation">
			<gov-nav-item href="{{ "/news" | relative_url}}">
				News
			</gov-nav-item>
			<gov-nav-item href="/datasets">
				Datasets
			</gov-nav-item>
			<gov-nav-item href="/applications">
				Applications
			</gov-nav-item>
			<gov-nav-item href="#">
				More
			</gov-nav-item>
		</gov-nav>
	</gov-container>
</header>
