<header>
    <gov-container>
	  <h4>Czech Data Portal</h4>
      <gov-nav wcag-label="Main navigation">
		<gov-nav-item href="{{ "/news" | relative_url}}">
			News
		</gov-nav-item>
        <gov-nav-item href="/datasets">
			Datasets
        </gov-nav-item>
        <gov-nav-item href="/applications">
			Applications
        </gov-nav-item>
        <gov-nav-item href="#">
        	More
        </gov-nav-item>
      </gov-nav>
    </gov-container>
  </header>

<!--<nav class="navbar navbar-expand-md navbar-light">
	<div class="container">
	  <a href="/" class="navbar-brand d-flex w-50 mr-auto"><img width="174" height="30" class="d-inline-block align-top" src="{{ "/images/logo.png" | relative_url }}" alt="Open data in Czechia"></img></a>
	  <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Show navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  
	  <div class="collapse navbar-collapse" id="collapsingNavbar">
		<ul class="navbar-nav ml-auto w-100 justify-content-end">
		  <li class="nav-item">
			<a class="nav-link" href="{{ "/news" | relative_url}}">News</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="dropdown02" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">National Open Data Catalog</a>
			<div class="dropdown-menu" aria-labelledby="dropdown01">
			  <a class="dropdown-item" href="/datasets">Datasets</a>
			  <a class="dropdown-item" href="/publishers">Publishers</a>
			  <a class="dropdown-item" href="/applications">Applications</a>
			  <a class="dropdown-item" href="/local-catalogs">Local catalogs</a>
			  <a class="dropdown-item" href="/suggestions-for-datasets-to-be-opened">Suggestions for data to be opened</a>
			</div>
		  </li> 
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">More</a>
			<div class="dropdown-menu" aria-labelledby="dropdown01">
			  <a class="dropdown-item" href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-zájemce">Interested in opening data (in Czech)</a>
			  <a class="dropdown-item" href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-programátory">Users and programmers (in Czech)</a>
			  <a class="dropdown-item" href="https://opendata.gov.cz">Data publishers (in Czech)</a>
			</div>
		  </li>
		  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
		  {% for p in posts %}
			{% if p.lang != page.lang %}
		  <li class="nav-item dropdown">
			  <a data-bs-toggle="dropdown" aria-haspopup="true" href="#" class="dropdown-toggle nav-link" aria-expanded="false"><img src="{{ "/images/flag-en.svg" | relative_url}}" alt="English" style="width: 1.3rem;"></a>
			  <div tabindex="-1" aria-hidden="true" role="menu" class="language-drop-down dropdown-menu lang-menu">
				<button type="button" tabindex="0" class="dropdown-item">
					<a href="{{ p.url }}" class="{{ p.lang }}" title="{{ site.langs[page.lang][p.lang] }}"><img src="{{ site.langs[p.lang].flag | relative_url }}" alt="{{ site.langs[page.lang][p.lang] }}" style="width: 1.3rem;"></a>
				</button>
			</div>
		  </li>	  
			{% endif %}
		  {% endfor %}
		</ul>
	  </div>
	</div>
</nav>-->