<header class="gov-header">
    <gov-container>
		<gov-branding>
			<h1><a href="/english">Czech Data Portal</a></h1>
			<div>
				<gov-form-search name="test-me-c" variant="primary">
				<gov-form-input slot="input" id="search" name="test-me" size="m" placeholder="Search"></gov-form-input>
					<gov-button slot="button" variant="primary" size="s">
						Search
					</gov-button>
				</gov-form-search>
				<gov-form-select wcag-label="jazyk" size="m" value="cs">
					<option value="cs">Čeština</option>
					<option value="en">English</option>
				</gov-form-select>
			</div>
		</gov-branding>
		<gov-nav wcag-label="Main navigation">
			<gov-nav-item href="{{ "/news" | relative_url}}">
				News
			</gov-nav-item>
			<gov-nav-item href="/datasets">
				Datasets
			</gov-nav-item>
			<gov-nav-item href="/applications">
				Applications
			</gov-nav-item>
			<gov-nav-item href="#">
				More
			</gov-nav-item>
		</gov-nav>
	</gov-container>
</header>