---
layout: default
title: Novinky
ref: Posts
lang: cs
---
  <gov-container>
    <gov-spacer size="s" breakpoint="sm"></gov-spacer>
    <h1>Novinky v otevřených datech</h1>
    <gov-spacer size="l" breakpoint="sm"></gov-spacer>
    <gov-tiles columns="3" no-border>
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts limit:3 %}
        <gov-tile href="..{{ post.url }}">
          <h2 slot="title">{{ post.title }}</h2>
          <p class="h6">{{ post.date | date: "%-d. %-m. %Y" }}</p>
          {% if post.image %}
          <p><img width="100%" src="{{ post.image }}" alt="{{ post.title }}"/></p>
          {% endif %}
          {{ post.excerpt }}
          {% if post.detail %}
          <gov-button variant="secondary" type="base" size="l">
            Více &raquo;
          </gov-button>
          {% endif %}
        </gov-tile>
        {% endfor %}
    </gov-tiles>
    <gov-spacer size="s" breakpoint="sm"></gov-spacer>
    <h2>Starší novinky</h2>
    <gov-spacer size="l" breakpoint="sm"></gov-spacer>
    <gov-tiles columns="3" no-border>
        {% for post in posts offset:3 %}
        <gov-tile href="..{{ post.url }}">
          <h3 slot="title">{{ post.title }}</h3>
          <p class="h6">{{ post.date | date: "%-d. %-m. %Y" }}</p>
          {{ post.excerpt }}
          {% if post.detail %}
          <gov-button variant="secondary" type="base" size="l">
            Více &raquo;
          </gov-button>
          {% endif %}
        </gov-tile>
        {% endfor %}       
      </gov-tiles>
  </gov-container>