---
layout: default
ref: Home
lang: en
homepage: true
---
<gov-statsbar variant="primary">
	<gov-statsbar-item><span id="datasetCountLabel">00</span><span slot="text">datasets</span>
	</gov-statsbar-item><gov-statsbar-item><span id="applicationCountLabel">XX</span><span slot="text">applications</span>
	</gov-statsbar-item><gov-statsbar-item><span id="publisherCountLabel">YY</span><span slot="text">publishers</span>
	</gov-statsbar-item><gov-statsbar-item><span id="keywordCountLabel">ZZ</span><span slot="text">keywords</span></gov-statsbar-item>
</gov-statsbar>

<gov-container>
    <gov-spacer size="s" breakpoint="sm"></gov-spacer>
    <h2>News from the open data world</h2>
    <gov-spacer size="l" breakpoint="sm"></gov-spacer>
    <gov-tiles columns="3" no-border>
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts limit:3 %}
        <gov-tile href="..{{ post.url }}">
          <h3 slot="title">{{ post.title }}</h3>
          <p class="h6">{{ post.date | date: "%-d. %-m. %Y" }}</p>
          {% if post.image %}
          <p><img width="100%" src="novinky/{{ post.image }}" alt="{{ post.title }}"/></p>
          {% endif %}
          {{ post.excerpt }}
          {% if post.detail %}
          <gov-button variant="secondary" type="outlined" size="l">
            Více &raquo;
          </gov-button>
          {% endif %}
        </gov-tile>
        {% endfor %}
    </gov-tiles>
</gov-container>

<gov-container>
    <gov-spacer size="s" breakpoint="sm"></gov-spacer>
    <h2>Important information for members of the open data ecosystem</h2>
    <gov-spacer size="l" breakpoint="sm"></gov-spacer>
    <gov-tiles columns="3" no-border>
		<gov-tile href="informace/základy-otevřených-dat-pro-zájemce/">
			<h3 slot="title">Interested in opening data</h3>
			<p>How do I benefit from open data and why should I want it? How do they benefit my town or office of government?</p>
			<gov-button variant="secondary" type="outlined" size="l">
				More info (in Czech) &raquo;
			</gov-button>
		</gov-tile>
		<gov-tile href="https://opendata.gov.cz">
			<h3 slot="title">Data publishers</h3>
			<p>How to proceed with publishing open data? What are the examples of good and bad practice? And what are the legal aspects of opening data?</p>
			<gov-button variant="secondary" type="outlined" size="l">
				More info (in Czech) &raquo;
			</gov-button>
		</gov-tile>
		<gov-tile href="https://opendata.gov.cz/informace:základy-otevřených-dat-pro-programátory">
			<h3 slot="title">Data users</h3>
			<p>Where do I find open data? What are the XML, CSV or RDF formats? Where can I ask for more open data or report a bug?</p>
			<gov-button variant="secondary" type="outlined" size="l">
				More info (in Czech) &raquo;
			</gov-button>
		</gov-tile>
	</gov-tiles>
</gov-container>

<script src="/js/stats.js"></script>
