---
layout: default
---

<gov-container class="e-learning">
    <gov-breadcrumbs wcag-label="You are in the following level">
      <ul>
        <li><a href="../../..">Portál o datech</a></li>
        <li><gov-icon type="basic" name="chevron-right"></gov-icon><a href="../..">Vzdělávání</a></li>
        <li><gov-icon type="basic" name="chevron-right"></gov-icon><a href="..">E-learning</a></li>
        <li><gov-icon type="basic" name="chevron-right"></gov-icon><strong>{{page.title}}</strong></li>
      </ul>
    </gov-breadcrumbs>
    {{ content }}
</gov-container>
