<!DOCTYPE html>
<html lang="{{page.lang}}">
  {% include head.html %}
  <body class="text-content blog-post">
    {% include header.html %}
    <article>
        <gov-container>
          <h1>{{ page.title }}{{depth}}</h1>
          <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%-d. %-m. %Y"}}</time>,
          {% if site.data.authors[page.author].web %}
          <a href="{{site.data.authors[page.author].web}}">{{site.data.authors[page.author].name}}</a>
          {% else %}
          {{site.data.authors[page.author].name}}
          {% endif %}
          {{ content }}
        </gov-container>
    </article>
    {% include footer.{{page.lang}}.html %}
    <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.min.js"></script>
    <script>
      anchors.add('h2').add('h3'){% for anchor in page.customanchors %}.add('{{ anchor }}'){% endfor %};
    </script>
  </body>
</html>
