---
title: Přesměrování
---
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#057fa5">
  <meta name="msapplication-TileColor" content="#057fa5">
  <meta name="msapplication-TileImage" content="{{ "/images/favicons/ms-icon-144x144.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/images/favicons/apple-icon-57x57.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/favicons/apple-icon-60x60.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/favicons/apple-icon-72x72.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/images/favicons/apple-icon-76x76.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/favicons/apple-icon-114x114.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/images/favicons/apple-icon-120x120.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/favicons/apple-icon-144x144.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/images/favicons/apple-icon-152x152.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/favicons/apple-icon-180x180.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/images/favicons/android-icon-192x192.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicons/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/favicons/favicon-96x96.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicons/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/images/favicons/manifest.json" | relative_url }}">

  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ "/css/od.css" | prepend: site.baseurl }}"/>
  
  <link rel="canonical" href="{{page.redirect.to}}">
  <meta http-equiv="refresh" content="0; url={{page.redirect.to}}">
  <meta name="robots" content="noindex">
  
</head>

  <body>
    {% include nav.cs.html %}
        <div class="container">
			<h1>Přesměrování&hellip;</h1>
			<p><a href="{{page.redirect.to}}">Pokud nejste přesměrováni, klikněte zde.</a></p>
		</div>
  
    {% include footer.cs.html %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script>location="{{page.redirect.to}}"</script>

   </body>
</html>
