---
title: Přesměrování
---
<!DOCTYPE html>
<html lang="cs">
<head>
  <script>
    window.GOV_DS_CONFIG = {
      "canValidateWcagOnRender": true,
      "iconsPath": "https://oha02.dia.gov.cz/design-system/assets/icons"
    };
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#057fa5">
  <meta name="msapplication-TileColor" content="#057fa5">
  <meta name="msapplication-TileImage" content="{{ "/images/favicons/ms-icon-144x144.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/images/favicons/apple-icon-57x57.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/favicons/apple-icon-60x60.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/favicons/apple-icon-72x72.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/images/favicons/apple-icon-76x76.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/favicons/apple-icon-114x114.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/images/favicons/apple-icon-120x120.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/favicons/apple-icon-144x144.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/images/favicons/apple-icon-152x152.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/favicons/apple-icon-180x180.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/images/favicons/android-icon-192x192.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicons/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/favicons/favicon-96x96.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicons/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/images/favicons/manifest.json" | relative_url }}">

  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{site.design_system_assets}}/assets/styles/critical.css">
  <link rel="stylesheet" href="{{site.design_system_assets}}/assets/fonts/roboto.css">
  <link rel="stylesheet" href="{{site.design_system_assets}}/build/core.css">

  <script type="module" src="{{site.design_system_assets}}/build/core.esm.js"></script>
  <script nomodule src="{{site.design_system_assets}}/build/core.js"></script>

  <link rel="canonical" href="{{page.redirect.to}}">
  <meta http-equiv="refresh" content="0; url={{page.redirect.to}}">
  <meta name="robots" content="noindex">
  
</head>

  <body>
    {% include nav.cs.html %}
    <gov-container>
      <h1>Přesměrování&hellip;</h1>
      <p><a href="{{page.redirect.to}}">Pokud nejste přesměrováni, klikněte zde.</a></p>
    </gov-container>
  
    {% include footer.cs.html %}
   </body>
</html>
